<% if (page.comments){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>

  <% if (config.disqus_shortname) { %>
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <% } %>

  <% if (config.facebook) { %>
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= config.facebook.appid %>";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="fb-comments" data-href="<%= url %>" data-num-posts="<%= config.facebook.comment_count %>" data-width="<%= config.facebook.comment_width %>" data-colorscheme="<%= config.facebook.comment_colorscheme %>"></div>
  <% } %>
</section>
<% } %>