<div class="alignleft">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>

<img style="position: absolute; top: 0; right: 0; border: 0;z-index:1" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" usemap="#github-ribbon">
<map id="github-ribbon" name="github-ribbon"><area shape="poly" alt="" title="" coords="12,0,149,129,149,0" href="https://github.com/boxersb" target="_blank" /></map>